<!-- app/views/sessions/callback.html.erb -->
<div class="container">
  <h1 class="mt-5">OAuth Callback Information</h1>

  <section class="mt-4">
    <h2>User Information</h2>
    <% if @oauth_data.params['user'] %>
      <ul class="list-group">
        <% @oauth_data.params['user'].each do |key, value| %>
          <li class="list-group-item"><strong><%= key %>:</strong> <%= value %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No user information available.</p>
    <% end %>
  </section>

  <section class="mt-4">
    <h2>Organizations</h2>
    <% if @oauth_data.params['organizations'] %>
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-smaller-text" style="width: 100%;">
          <thead>
            <tr>
              <% @oauth_data.params['organizations'].first.each_key do |key| %>
                <th><%= key.humanize %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @oauth_data.params['organizations'].each do |organization| %>
              <tr>
                <% organization.each_value do |value| %>
                  <td><%= value %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>No organizations information available.</p>
    <% end %>
  </section>

  <section class="mt-4">
    <h2>Token Information</h2>
    <ul class="list-group">
      <li class="list-group-item"><strong>Token:</strong> <%= @oauth_data.token %></li>
      <li class="list-group-item"><strong>Expires In:</strong> <%= @oauth_data.expires_in %></li>
      <li class="list-group-item"><strong>Refresh Token:</strong> <%= @oauth_data.refresh_token %></li>
    </ul>
  </section>
</div>
