<div class="container">
  <h1 class="mt-5">Index</h1>

  <%= form_tag(signin_path, method: :get, class: 'mt-3') do %>
    <%= submit_tag 'Authenticate with OAuth', class: 'btn btn-primary' %>
  <% end %>

  <% if session[:token_info].present? %>
    <section class="mt-4">
      <h2>Token Information</h2>
      <ul class="list-group">
        <li class="list-group-item"><strong>Token:</strong> <%= session[:token_info]["token"] %></li>
        <li class="list-group-item"><strong>Expires In:</strong> <%= session[:token_info]["expires_in"] %></li>
        <li class="list-group-item"><strong>Refresh Token:</strong> <%= session[:token_info]["refresh_token"] %></li>
      </ul>
    </section>
  <% end %>
</div>
